.workspace-iframe {
    border: none 0px;
    width: 100%;
    height: 100%;
}

.left-menu {
    padding-top: 10px;
    text-align: center;
}

.right-menu {
    padding-top: 10px;
    text-align: center;
}