<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="WorkerConfigurationFake" type="Dataract.e5.Fake.WM.RequestManager.WorkerConfigurationSection, Dataract.e5.Fake.WM.RequestManager"/>
    <section name="WorkerConfigurationRACTi" type="Dataract.e5.RACTi.WM.RequestManager.WorkerConfigurationSection, Dataract.e5.RACTi.WM.RequestManager"/>
  </configSections>

  <WorkerConfigurationFake
     E5SiteRootUrlFake="http://ractpoc-e5.cloudapp.net:8051"
     AnotherSiteRootUrlFake="http://ractpoc-e5.cloudapp.net:8052"
  />

  <WorkerConfigurationRACTi
    E5ContentDbConnectionString="Data Source=RACTPOC-SQL; Initial Catalog=e5_Content_RACTi; Integrated Security=True"
    E5FindPolicyPageUrlTemplate="http://ractpoc-e5.cloudapp.net/sites/poc/e5/Find%20Policy.aspx?PolicyId=$#policy_number#$"
    E5WorkUrlTemplate="http://ractpoc-e5.cloudapp.net/sites/poc/_layouts/15/e5/WorkProcess.aspx?id=$#work_id#$"
    PurePolicyUrlTemplate="http://ractpoc-e5.cloudapp.net:8052/DummyPolicy/Index?policynumber=$#policy_number#$"
    PureClaimUrlTemplate="http://ractpoc-e5.cloudapp.net:8052/DummyClaim/Index?claimnumber=$#claim_number#$"
  />
  
</configuration>