@using Kendo.Mvc.UI

@section JavaScripts { 
    @{
        <script src="~/ViewScripts/Home.Index.js"></script>
    } 
}

<div id="page-container">
    @(
    
    Html.Kendo().Splitter()
        .Name("Horizontal")
        .Orientation(SplitterOrientation.Horizontal)
        .Panes(hpanes =>
            {
                hpanes.Add()
                      .HtmlAttributes(new { id = "pane-left" })
                      .Scrollable(true)
                      .Collapsible(true)
                      .Content(
                          Html.Kendo().Splitter()
                              .Name("Vertical-Left")
                              .Orientation(SplitterOrientation.Vertical)
                              .Panes(vlpanes =>
                                  {
                                      vlpanes.Add()
                                             .HtmlAttributes(new { id = "pane-left--top" })
                                             .Scrollable(true)
                                             .Collapsible(false)
                                             .Content(
                                                 Html.Kendo().Splitter()
                                                     .Name("Vertical-Left-Horizontal")
                                                     .Orientation(SplitterOrientation.Horizontal)
                                                     .Panes(vlthpanes =>
                                                         {
                                                             vlthpanes.Add()
                                                                      .HtmlAttributes(new {id = "pane-left--top--left"})
                                                                      .Scrollable(true)
                                                                      .Collapsible(true)
                                                                      .Size("100px")
                                                                      .Content(@<div id="pane-left--top--left-content"></div>);
                                                             vlthpanes.Add()
                                                                      .HtmlAttributes(new {id = "pane-left--top--right"})
                                                                      .Scrollable(true)
                                                                      .Collapsible(false)
                                                                      .Content(partialLeft.ToString());
                                                                               
                                                         }
                                                     ).ToString()
                                          );
                                      vlpanes.Add()
                                             .HtmlAttributes(new { id = "pane-left--bottom" })
                                             .Scrollable(true)
                                             .Collapsible(true)
                                             .Size("150px")
                                             .Content(@<div id="pane-left--bottom-content"></div>);
                                  }
                              ).ToHtmlString()
                    );

                hpanes.Add()
                      .HtmlAttributes(new { id = "pane-right" })
                      .Scrollable(true)
                      .Collapsible(true)
                      .Content(
                          Html.Kendo().Splitter()
                              .Name("Vertical-Right")
                              .Orientation(SplitterOrientation.Vertical)
                              .Panes(vrpanes =>
                                  {
                                      vrpanes.Add()
                                             .HtmlAttributes(new { id = "pane-right--top" })
                                             .Scrollable(true)
                                             .Collapsible(false)
                                             .Content(
                                                 Html.Kendo().Splitter()
                                                     .Name("Vertical-Right-Horizontal")
                                                     .Orientation(SplitterOrientation.Horizontal)
                                                     .Panes(vlthpanes =>
                                                         {
                                                             vlthpanes.Add()
                                                                      .HtmlAttributes(new {id = "pane-right--top--left"})
                                                                      .Scrollable(true)
                                                                      .Collapsible(true)
                                                                      .Size("100px")
                                                                      .Content(@<div id="pane-right--top--left-content"></div>);
                                                             vlthpanes.Add()
                                                                      .HtmlAttributes(new {id = "pane-right--top--right"})
                                                                      .Scrollable(true)
                                                                      .Collapsible(false)
                                                                      .Content(
                                                                          @<div id="pane-right--top--right-content">
                                                                               <iframe id="iframe-right" src="http://www.dataract.com.au"></iframe>
                                                                           </div>
                                                                 );
                                    
                                                         }
                                                     ).ToString()
                                          );
                                      vrpanes.Add()
                                             .HtmlAttributes(new { id = "pane-right--bottom" })
                                             .Scrollable(true)
                                             .Collapsible(true)
                                             .Size("150px")
                                             .Content(@<div id="pane-right--bottom-content"></div>);
                                  }
                              ).ToHtmlString()
                    );
            })
          )
</div>